<!DOCTYPE html>

{% extends "updater/base.html" %}

{% block title %} Todo list {% endblock %}


{% block body %} 
    
<form method='POST'>
    {% csrf_token %}   
    <div class="form-group">
      <label for="id_task">Add Task</label>
      {{task_form.task}}
    </div>
    <div class="form-group">
        <label for="id_date">Completion date</label>
        {{task_form.date}}
      </div>
    <button type="submit" class="btn btn-primary" name="new_task_added" value="New task value">Submit</button>
</form>
    

<hr>

<h2>Current Tasks!</h2>

{% if current_tasks %}
 <ul>
    {% for task_name in current_tasks %}
    <li>
        {{task_name.task}}
        {{task_names.date}}
        <form method='POST'>
            {% csrf_token %}   
            <button type="submit" class="btn btn-primary" name="delete_task" value="{{task_name.task}}">Delete</button>
        </form>
        
    </li>
    {% endfor %}
 </ul>
 {% else %}
 <h3>No Tasks yet</h3>
 {% endif %}

{% endblock %}
        