<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    
    
    <title> Home Page</title>
</head>
<body>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">Welcome to the website!</h1>
            <p class="lead">Please fill up your details on the next page</p>
            <form action="/form">
                <input type="submit" class="btn btn-primary" value="submit">        
            </form>
        </div>
    </div>
        
</body>
</html>